In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('water.txt', sep = '\t')

In [3]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [4]:
data.describe()

         mortality    hardness
count    61.000000   61.000000
mean   1524.147541   47.180328
std     187.668754   38.093966
min    1096.000000    5.000000
25%    1379.000000   14.000000
50%    1555.000000   39.000000
75%    1668.000000   75.000000
max    1987.000000  138.000000

In [5]:
data.corr(method = 'pearson')

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [6]:
data.corr(method = 'spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [7]:
south_data = data.loc[data['location'] == 'South']
south_data.corr(method = 'pearson')

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [8]:
north_data = data.loc[data['location'] == 'North']
north_data.corr(method = 'pearson')

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [9]:
from scipy.stats import chi2_contingency

In [10]:
table = [[239, 203], 
         [515, 718]]

stat, p, dof, expected = chi2_contingency(table)
p

1.0558987006638725e-05

In [30]:
mss = ((515*203-239*718)/np.sqrt((239+203)*(239*515)*(203+718)*(515*718)))
mss

-0.0004926457818689265

Среди респондентов General Social Survey 2014 года хотя бы раз в месяц проводят вечер в баре 203 женщины и 239 мужчин; реже, чем раз в месяц, это делают 718 женщин и 515 мужчин.

Постройте 95% доверительный интервал для разности долей, вычитая долю женщин из доли мужчин. Чему равна его нижняя граница? Округлите до четырёх знаков после десятичной точки.

In [12]:
import scipy

In [13]:
n_w = 203 + 718
p_w = float(203/n_w)

n_m = 239 + 515
p_m = float(239/n_m)

In [26]:
alpha = 0.05 
z = scipy.stats.norm.ppf(1 - alpha / 2.)

left_boundary = (p_m - p_w) - z * np.sqrt(p_w * (1 - p_w)/ n_w + p_m * (1 - p_m)/ n_m)
right_boundary = (p_m - p_w) + z * np.sqrt(p_w * (1 - p_w)/ n_w + p_m * (1 - p_m)/ n_m)

print ((left_boundary, right_boundary))

(0.053905233215813156, 0.13922183141523897)

Проверьте гипотезу о равенстве долей любителей часто проводить вечера в баре среди мужчин и женщин. Посчитайте достигаемый уровень значимости, используя двустороннюю альтернативу. Введите номер первой значащей цифры

In [15]:
women = np.hstack((np.ones(203), np.zeros(718)))
men = np.hstack((np.ones(239), np.zeros(515)))

In [16]:
scipy.stats.ttest_ind(women, men, equal_var = False)

Ttest_indResult(statistic=-4.433942996850051, pvalue=9.915464652241873e-06)

Посмотрим на данные General Social Survey 2014 года и проанализируем, как связаны ответы на вопросы "Счастливы ли вы?" и "Довольны ли вы вашим финансовым положением?"

Чему равно значение статистики хи-квадрат для этой таблицы сопряжённости? Округлите ответ до четырёх знаков после десятичной точки.

Статистика критерия хи-квадрат: $$\chi^2=\sum_{i=1}^K \frac{\left(n_i- np_i\right)^2}{np_i}$$
При справедливости нулевой гипотезы имеет распределение хи-квадрат с числом степеней свободы $K-1-m$, где $m$ - число параметров распределения, оцененных по выборке.

In [17]:
from scipy import stats

In [18]:
matrix = [[197, 111, 33], 
          [382, 685, 331], 
          [110, 342, 333]]

In [21]:
chi2, p, df, expected = scipy.stats.chi2_contingency(matrix)

In [20]:
chi2

293.68311039689746

In [22]:
p

2.4964299580093467e-62

In [29]:
import math

n = 197+111+33+382+685+331+110+342+333
v = math.sqrt(chi2 / (2*n))
v

0.2412013934500338